.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.out
*.inp
*.restart
*.output
*.log
*.code-workspace
*.results
*.png
*.perf
*.PTF
*.LTO
**/Models/*
Manifest.toml
*.pptx
*.DS_Store
docs/build/*
.VSCodeCounter/*